

div.foot(style="line-height:20px;text-align:left;")
	hr
	ul(style="-webkit-padding-start:0px;-moz-padding-start:0px;")
		li 开发者:
			a(href='http://bigdl.org:6655/bigdl/public/team.jsp') CCCDL团队	    
		li Web与软件技术研究中心
		li 信息技术研究院，清华大学

