extends layout	

block content
	h1.qatitle 健康问答系统
	div.qalocation
		div.search_ul
		div.qamain
			ul#top_b_ul
				li#one1
					a(href='#' class="topactive")仅答案 
				li#one2
					a(href='#')仅片段
				li#one3
					a(href='#')片段组合 

			div#con_one_1
				form(action="/ask_a" method="get")
					textarea.qainput(name="question") #{question}
					button.qasearch(type="submit")
						i.fa.fa-paper-plane
					
			div#con_one_2
				form(action="/ask_p" method="get")
					textarea.qainput(name="question") #{question}
					button.qasearch(type="submit")
						i.fa.fa-paper-plane

			div#con_one_3
				form(action="/ask_pz" method="get")
					textarea.qainput(name="question") #{question}
					button.qasearch(type="submit")
						i.fa.fa-paper-plane

			
			div.question
				//- div.question 
				ul 
					li 常见问题:
					li
						em 01
						a(href='ask_a?question=糖尿病有哪些危害') 糖尿病有哪些危害
					li
						em 02
						a(href='ask_a?question=血糖高不尿糖是糖尿病吗') 血糖高不尿糖是糖尿病吗

					li
						em 03
						a(href='ask_a?question=糖尿病脚盖发红是怎么回事') 糖尿病脚盖发红是怎么回事


			include footer



 

