doctype html
html(ng-app="qaweb")
  head
    title= title
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(src="/javascripts/jquery-1.11.2.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/my.js")
  body
    block content
    
