extends layout	

block content
	h1 团队成员
	ul
		li 指导：
			a(href='https://ai.arizona.edu/about/director') 陈炘钧教授
			label 和
			a(href='http://wiki.riit.tsinghua.edu.cn/west/XingChunxiao/CV?action=print') 邢春晓教授
		li 
			a(href='http://wiki.riit.tsinghua.edu.cn/west/ZhangYong/CV?action=print') 张勇副研究员
		li 盛明
		li 陈信欢
		li 陈池
		li 张妍
		li 刘红霞
		li 曹庆博
		li 李秀星
	p 荣誉成员
	ul
		li 尹龑燊(2015)  

